/* Common CSS Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;

}

/* Common CSS End */

/* Header Part Start */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

}

.nav-link {
    color: #dddddd;
    font-size: 16px;
    font-weight: 400;
}

.headerIcon {
    /* color: #ddd; */
}

.headerIcon span {
    padding: 0 10px;
}

/* Header Part End */

/* Banner Part Start */
#bannerPart {
    padding-top: 337px;
    padding-bottom: 95px;
    background: url(../images/banner\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.bannerContent h3 {
    font-size: 27px;
    font-weight: 400;
}

.bannerContent h1 {
    font-size: 60px;
    font-weight: 600;
    position: relative;

}

.bannerContent h1::after {
    position: absolute;
    height: 4px;
    width: 90px;
    content: "";
    background: #fff;
    right: 0;
    bottom: 0;
}

.bannerContent p {
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    width: 521px;
}

.bannerContent .myBtn {
    padding: 15px 25px;
    background: #ffffff;
    color: #000000;
    margin-bottom: 295px;
    font-size: 16px;
    font-weight: 400;
}


.bannerContent ul {
    display: flex;
    padding-left: 0 !important;
    column-gap: 10px;

}

.bannerContent ul li a i {
    font-size: 30px;
    color: #fff;
}

/* Banner Part End */
/* About Part Start */
#aboutPart {
    background: #121212;
    padding-top: 40px;
    padding-bottom: 80px;
}

.aboutPartMainContent{
    margin-bottom: 66px;
}

.aboutPartMainContent h3 {
    color: #fff;
    line-height: auto;
    font-size: 38px;
    font-weight: 600;
    position: relative;

}

.aboutPartMainContent h3::after {
    position: absolute;
    height: 4px;
    width: 90px;
    content: "";
    background: #ff4040;
    right: 166px;
    bottom: 4px;
}

.aboutLeftContent{
    position: relative;
    margin-bottom: 50px;
}
.aboutLeftContent::before {
    position: absolute;
    top: 0px;
    left: -6px;
    height: 157px;
    width: 7px;
    background: #FF4655;
    content: "";
}

.aboutLeftContent::after {
    position: absolute;
    top: -6px;
    left: -6px;
    height: 7px;
    width: 157px;
    background: #FF4655;
    content: "";
}


.aboutRightContent h3{
    color: #fff;
    line-height: auto;
    font-size: 27px;
    font-weight: 600;
}



.aboutRightContent p{
    font-size: 18px;
    font-weight: 400;
    line-height: auto;
    color: #fff;
}
.aboutRightContent ul {
    color: #fff;
    line-height: auto;
    font-size: 18px;
    font-weight: 400;
    padding-left: 0;
    font-family: "Barlow", sans-serif;
}

.aboutRightContent ul li i{
    color: #ff0000;
    margin-right: 10px;
}

.aboutRightContent a {
    padding: 19px;
    background: #ffffff;
    color: #000000;
    /* margin-bottom: 300px; */
    font-size: 16px;
    font-weight: 400;
}

.counterItem{
    background: #212121;
    padding: 40px;
    text-align: center;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;

}

.counterItem h3{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    position: relative;
}

.counterItem h3::after{
    position: absolute;
    right: 41px;
    bottom: 9px;
    background: #FF4655;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    content: "";
}
.counterItem p{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

/* About Part End */
/* Banner Part Start */

/* Banner Part End */
/* Banner Part Start */

/* Banner Part End */
/* Banner Part Start */

/* Banner Part End */