/* Common CSS Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;

}

/* Common CSS End */

/* Header Part Start */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

}

.nav-link {
    color: #dddddd;
    font-size: 16px;
    font-weight: 400;
}

.headerIcon {
    /* color: #ddd; */
}

.headerIcon span {
    padding: 0 10px;
}

/* Header Part End */

/* Banner Part Start */
#bannerPart {
    padding-top: 337px;
    padding-bottom: 95px;
    background: url(../images/banner\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.bannerContent h3 {
    font-size: 27px;
    font-weight: 400;
}

.bannerContent h1 {
    font-size: 60px;
    font-weight: 600;
    position: relative;

}

.bannerContent h1::after {
    position: absolute;
    height: 4px;
    width: 90px;
    content: "";
    background: #fff;
    right: 0;
    bottom: 0;
}

.bannerContent p {
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    width: 521px;
}

.bannerContent .myBtn {
    padding: 15px 25px;
    background: #ffffff;
    color: #000000;
    margin-bottom: 295px;
    font-size: 16px;
    font-weight: 400;
}


.bannerContent ul {
    display: flex;
    padding-left: 0 !important;
    column-gap: 10px;

}

.bannerContent ul li a i {
    font-size: 30px;
    color: #fff;
}

/* Banner Part End */
/* About Part Start */
#aboutPart {
    background: #121212;
    padding-top: 40px;
    padding-bottom: 80px;
}

.aboutPartMainContent {
    margin-bottom: 66px;
}

.aboutPartMainContent h3 {
    color: #fff;
    line-height: auto;
    font-size: 38px;
    font-weight: 600;
    position: relative;

}

.aboutPartMainContent h3::after {
    position: absolute;
    height: 4px;
    width: 90px;
    content: "";
    background: #ff4040;
    right: 166px;
    bottom: 4px;
}

.aboutLeftContent {
    position: relative;
    margin-bottom: 50px;
}

.aboutLeftContent::before {
    position: absolute;
    top: 0px;
    left: -6px;
    height: 157px;
    width: 7px;
    background: #FF4655;
    content: "";
}

.aboutLeftContent::after {
    position: absolute;
    top: -6px;
    left: -6px;
    height: 7px;
    width: 157px;
    background: #FF4655;
    content: "";
}


.aboutRightContent h3 {
    color: #fff;
    line-height: auto;
    font-size: 27px;
    font-weight: 600;
}



.aboutRightContent p {
    font-size: 18px;
    font-weight: 400;
    line-height: auto;
    color: #fff;
}

.aboutRightContent ul {
    color: #fff;
    line-height: auto;
    font-size: 18px;
    font-weight: 400;
    padding-left: 0;
    font-family: "Barlow", sans-serif;
}

.aboutRightContent ul li i {
    color: #ff0000;
    margin-right: 10px;
}

.aboutRightContent a {
    padding: 19px;
    background: #ffffff;
    color: #000000;
    /* margin-bottom: 300px; */
    font-size: 16px;
    font-weight: 400;
}

.counterItem {
    background: #212121;
    padding: 40px;
    text-align: center;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;

}

.counterItem h3 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    position: relative;
}

.counterItem h3::after {
    position: absolute;
    right: 41px;
    bottom: 9px;
    background: #FF4655;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    content: "";
}

.counterItem p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

/* Popular Part Start */
#popularPart {
    background: #191919;
    padding-top: 114px;
    padding-bottom: 88px;
}

.popularPartContent h3 {
    font-size: 38px;
    font-weight: 600px;
    line-height: auto;
    color: #fff;
    position: relative;
    margin-bottom: 86px;
}

.popularPartContent h3::before {
    position: absolute;
    right: -20px;
    bottom: 0px;
    content: "";
    background: #ff4040;
    height: 4px;
    width: 105px;

}

.rightImg img {
    width: 564px;
}

.popularPartContent h3::before {
    position: absolute;
    right: 115px;
    bottom: 5px;
    content: "";
    background: #ff4655;
    height: 4px;
    width: 105px;
}

/* Papular Part End */

/* Shedule Part Start */
#shedulePart {
    background: #121212;
    padding-top: 85px;
    padding-bottom: 90px;
}

.shedulePartContent h3 {
    font-size: 38px;
    font-weight: 600px;
    line-height: auto;
    color: #fff;
    position: relative;
    margin-bottom: 86px;
    position: relative;
}

.shedulePartContent h3::after {
    position: absolute;
    left: 137px;
    bottom: 5px;
    content: "";
    background: #ff4040;
    height: 4px;
    width: 105px;
}

.middle {
    height: 295px;

}

/* Shedue Part End */
/* Feq Part Start */
#faqPart {
    background: #121212;
    padding-top: 48px;
    padding-bottom: 154px;
}

.FaqHeader h3 {
    font-size: 38px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 114px;
    position: relative;
    letter-spacing: 10%;
    line-height: auto;
    width: 493px;
}

.FaqHeader h3::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #FF4655;
    height: 1px;
    width: 129px;
    content: "";

}

.box {
    height: 70px;
    width: 70px;
    background: #ff4655;
    position: relative;
}

.box h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 38px;
    font-weight: 500px;
}

.leftContent {
    display: flex;
    column-gap: 20px;
}

.boxText h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: auto;
    color: #ffffff;
}

.boxText p {
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    color: #666666;
}

.line {
    position: relative;
}

.line::after {
    position: absolute;
    bottom: -70px;
    left: 0;
    content: "";
    background: #ffffff;
    height: 1px;
    width: 100%;

}

.line::before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    background: #ffffff;
    height: 369px;
    width: 1px;

}

/* Feq Part End */

/* Footer Part Start */
#footerPart {
    background: #191919;
    padding-top: 125px;
    padding-bottom: 70px;
}

.firstContentTop h3 {
    color: #dddddd;
    font-size: 35px;
    font-weight: 700;
    line-height: auto;
    position: relative;
    margin-bottom: 39px;
}

.firstContentTop h3::after {
    position: absolute;
    left: 116px;
    bottom: 4px;
    background: #ff4655;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    content: "";
}
.firstContentTop p{
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    color: #666666;
    margin-bottom: 63px;
}

.iconBox{
    color: #dddddd;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #212529;
    position: relative;
}
.iconBox i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.firstContentBottom{
    display: flex;
    column-gap: 20px;
}
.secondContent h3{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
}
.secondContent p{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
/* Footer Part End */